* {
  font-family: "Kumbh Sans", sans-serif;
	 margin:0;
}


.bodycontainer{
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(230, 170, 170);
	height: 100vh;
}

.container{
	width: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(196, 125, 125);
	border-radius: 10px;
}
.inp{
	width: 40%;
	display: flex;
	flex-direction: column;
}
input{
	border: 1px solid rgb(70, 0, 10);
	border-radius: 3px;
	height: 2rem;
	font-size: 1rem;
	outline: none;
	background-color: rgb(231, 191, 197);
}

#addbtn{
	border: none;
	outline: none;
	height: 2.5rem;
	width: 5rem;
	font-size: 1rem;
	font-weight: bold;
	background-color: rgb(66, 9, 17);
	border-radius: 3px;
	color: blanchedalmond;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
}
#addbtn:active{
	background-color: rgb(119, 31, 43);
}
.clos{
	border: none;
	outline: none;
	width: 100%;
	height: 1.5rem;
	font-weight: bold;
	background-color: rgb(66, 9, 17);
	border-radius: 3px;
	color: blanchedalmond;
	margin:0;	 
}
.clos:active{
	background-color: rgb(119, 31, 43);
}

table{
	width: 100%;
	border-collapse: collapse;
	border:1px solid rgb(66, 9, 17);
	text-align: center;
}
th{
	font-weight: bold;
	border:1px solid rgb(66, 9, 17);
}
td{
	border:1px solid rgb(66, 9, 17);
}

@media screen and (max-width:760px){
	.container{
		width: 100%;
	}

}
